<h1>GoVanGo</h1>

<form novalidate (ngSubmit)="restore()">
  <small>{{
    "To reset your password, enter your email address below. We will send you an email with instructions for resetting your password."
      | translate
  }}</small>

  <p-iftalabel>
    <input
      pInputText
      id="email"
      autocomplete="off"
      [formControl]="emailFormControl"
      [ngClass]="{
        'p-invalid': emailFormControl.invalid && !emailFormControl.untouched,
      }"
    />
    <label for="email">{{ "Email" | translate }}</label>

    @if (emailFormControl.invalid && !emailFormControl.untouched) {
      @if (emailFormControl.errors?.["required"]) {
        <small class="validation-error">{{
          "This field is required" | translate
        }}</small>
      }
      @if (emailFormControl.errors?.["email"]) {
        <small class="validation-error">{{
          "Invalid email" | translate
        }}</small>
      }
    }
  </p-iftalabel>

  <p-button
    type="submit"
    [label]="isBusy ? ('In progress' | translate) : ('Restore' | translate)"
    [loading]="isBusy"
    [disabled]="emailFormControl.invalid || isBusy"
  ></p-button>

  <p-divider />

  <div class="extras">
    <gvg-app-settings-panel-button />

    <small>
      <a routerLink="/login">{{ "Login" | translate }}</a>
      <a routerLink="/register">{{ "Register" | translate }}</a>
    </small>
  </div>
</form>
