:host {
  display: block;
  margin-bottom: 1em;

  .info-items {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 1em 0;

      &:not(:last-child) {
        border-bottom: 0.063em solid var(--p-divider-border-color);
      }

      p {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 37.5em) {
          justify-content: flex-start;
          gap: 2em;
        }

        span:first-of-type {
          color: initial;
          display: inline-flex;
          gap: 0.5em;
          align-items: center;
        }

        a,
        span {
          color: var(--p-primary-color);
          font-weight: bold;

          > span {
            @media screen and (max-width: 37.5em) {
              display: none;
            }
          }
          &.extended {
            display: flex;
            gap: 1em;
            flex-wrap: wrap;
            flex: 1;
            justify-content: flex-end;

            i {
              display: flex;
              font-size: 0.813em;
            }

            @media screen and (max-width: 37.5em) {
              justify-content: normal;
            }
          }
        }
      }
    }
  }
}
