:host {
  display: block;

  p-accordion-panel {
    margin-bottom: 0.5em;
  }

  .content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0.5em;

    .grid-item {
      &:last-of-type {
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1em;
      }

      .image-container {
        position: relative;
        display: flex;
        align-items: center;
        gap: 1em;

        i {
          position: absolute;
          top: 20px;
          left: 20px;
          font-size: 14px;
        }

        gvg-minivan-icon {
          ::ng-deep {
            svg {
              width: 4em;
              height: 4em;

              path {
                fill: var(--p-primary-color) !important;
              }
            }
          }
        }

        span {
          font-weight: normal;
        }
      }
    }

    &.with-icons {
      grid-template-columns: 1fr;
    }

    &.with-buttons {
      .grid-item {
        display: flex;
        gap: 0.5em;
      }
    }
  }
}
