@if (car) {
  <p-accordion-panel [value]="panelIndex">
    <p-accordion-header>{{ car.make }} {{ car.model }}</p-accordion-header>
    <p-accordion-content>
      <div class="content-grid">
        <div class="grid-item">
          <span>{{ "Registration plate" | translate }}</span>
        </div>
        <div class="grid-item">
          <span>{{ car.registrationPlate }}</span>
        </div>
      </div>

      <div class="content-grid">
        <div class="grid-item">
          <span>{{ "Carry capacity" | translate }}</span>
        </div>
        <div class="grid-item">
          <span>{{ car.carryCapacity }}{{ "ton" | translate }}</span>
        </div>
      </div>

      <p-divider />
      <div class="content-grid with-icons">
        <div class="grid-item">
          <span>{{ "Dimensions" | translate }}</span>
        </div>
        <div class="grid-item">
          <div class="image-container">
            <i class="pi pi-arrows-h"></i>
            <gvg-minivan-icon></gvg-minivan-icon>
            <span
              >{{ "Length" | translate }} {{ car.length
              }}{{ "meter" | translate }}</span
            >
          </div>

          <div class="image-container">
            <i class="pi pi-arrows-v"></i>
            <gvg-minivan-icon></gvg-minivan-icon>
            <span
              >{{ "Height" | translate }} {{ car.height
              }}{{ "meter" | translate }}</span
            >
          </div>

          <div class="image-container">
            <i class="pi pi-arrow-up-right-and-arrow-down-left-from-center"></i>
            <gvg-minivan-icon></gvg-minivan-icon>
            <span
              >{{ "Width" | translate }} {{ car.width
              }}{{ "meter" | translate }}</span
            >
          </div>
        </div>
      </div>

      <p-divider />
      <div class="content-grid with-buttons">
        <div class="grid-item">
          @if (!car.images?.length) {
            <p-button
              size="small"
              severity="secondary"
              icon="pi pi-upload"
              rounded
              outlined
              (onClick)="openUploadCarImagesSidebar(car.id)"
            />
          } @else {
            <p-button
              size="small"
              severity="secondary"
              icon="pi pi-images"
              rounded
              outlined
              (onClick)="isGalleriaOpened = true"
            />
          }
          <p-button
            size="small"
            severity="secondary"
            icon="pi pi-pencil"
            rounded
            outlined
            (onClick)="updateCar(car)"
          />
          <p-button
            size="small"
            severity="danger"
            icon="pi pi-trash"
            rounded
            outlined
            (onClick)="removeCar(car.id)"
          />
        </div>
        <div class="grid-item"></div>
      </div>
    </p-accordion-content>
  </p-accordion-panel>
  <span #scrollToViewAnchor class="scroll-to-view-anchor"></span>

  <p-galleria
    [value]="car.images"
    [(visible)]="isGalleriaOpened"
    [fullScreen]="true"
    [showItemNavigators]="true"
    [showThumbnails]="false"
  >
    <ng-template #item let-image>
      <img
        [src]="image.imageUrl"
        style="width: 100%; display: block"
        alt="car-image"
      />
    </ng-template>
  </p-galleria>
}

@if (isUploadCarImagesSidebarOpened) {
  <gvg-car-images-upload
    [visible]="isUploadCarImagesSidebarOpened"
    (closed)="isUploadCarImagesSidebarOpened = false"
  >
  </gvg-car-images-upload>
}
