:host {
  display: block;
  margin: 2em 0;

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    input[pInputText] {
      width: 100%;
    }

    p-password,
    p-inputmask {
      ::ng-deep {
        .p-password,
        input {
          width: 100%;
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
    }
  }
}
