<form novalidate [formGroup]="form">
  <p-iftalabel>
    <p-inputmask
      id="phoneNumber"
      mask="+380 99 9999999"
      autocomplete="off"
      formControlName="phoneNumber"
      [ngClass]="{
        'ng-dirty ng-invalid':
          form.controls.phoneNumber.invalid &&
          !form.controls.phoneNumber.untouched,
      }"
    />
    <label for="phoneNumber">{{ "Phone number" | translate }}</label>

    @if (
      form.controls.phoneNumber.invalid && !form.controls.phoneNumber.untouched
    ) {
      @if (form.controls.phoneNumber.errors?.["required"]) {
        <small class="validation-error">{{
          "This field is required" | translate
        }}</small>
      }
    }
  </p-iftalabel>

  <p-iftalabel>
    <input
      pInputText
      id="email"
      type="email"
      autocomplete="off"
      formControlName="email"
      [ngClass]="{
        'ng-dirty ng-invalid':
          form.controls.email.invalid && !form.controls.email.untouched,
      }"
    />
    <label for="email">{{ "Email" | translate }}</label>

    @if (form.controls.email.invalid && !form.controls.email.untouched) {
      @if (form.controls.email.errors?.["required"]) {
        <small class="validation-error">{{
          "This field is required" | translate
        }}</small>
      }
      @if (form.controls.email.errors?.["email"]) {
        <small class="validation-error">{{
          "Invalid email" | translate
        }}</small>
      }
    }
  </p-iftalabel>

  <p-iftalabel>
    <p-password
      inputId="password"
      formControlName="password"
      promptLabel="{{ 'Enter a password' | translate }}"
      weakLabel="{{ 'Weak password' | translate }}"
      mediumLabel="{{ 'Medium password' | translate }}"
      strongLabel="{{ 'Strong password' | translate }}"
      [toggleMask]="true"
      [feedback]="true"
      [ngClass]="{
        'ng-dirty ng-invalid':
          form.controls.password.invalid && !form.controls.password.untouched,
      }"
    />
    <label for="password">{{ "Password" | translate }}</label>

    @if (form.controls.password.invalid && !form.controls.password.untouched) {
      @if (form.controls.password.errors?.["required"]) {
        <small class="validation-error">{{
          "This field is required" | translate
        }}</small>
      }
      @if (form.controls.password.errors?.["minlength"]) {
        <small class="validation-error">{{
          "Minimal length is 7 symbols" | translate
        }}</small>
      }
    }
  </p-iftalabel>

  <p-iftalabel>
    <p-password
      inputId="cpassword"
      formControlName="confirmPassword"
      [toggleMask]="true"
      [feedback]="false"
      [ngClass]="{
        'ng-dirty ng-invalid':
          form.controls.password.invalid && !form.controls.password.untouched,
      }"
    />
    <label for="cpassword">{{ "Confirm password" | translate }}</label>

    @if (
      form.controls.confirmPassword.invalid &&
      !form.controls.confirmPassword.untouched
    ) {
      @if (form.controls.confirmPassword.errors?.["required"]) {
        <small class="validation-error">{{
          "This field is required" | translate
        }}</small>
      }
      @if (form.controls.confirmPassword.errors?.["matching"]) {
        <small class="validation-error">{{
          "Passwords does not match" | translate
        }}</small>
      }
    }
  </p-iftalabel>

  <div class="buttons">
    <p-button
      label="{{ 'Back' | translate }}"
      severity="secondary"
      (onClick)="goToStep('user-info')"
    ></p-button>

    @if (userDataInfo$ | async; as userInfoData) {
      @if (userInfoData.isCarOwner) {
        <p-button
          label="{{ 'Next' | translate }}"
          (onClick)="goToStep('user-car-info')"
          [disabled]="form.invalid"
        ></p-button>
      } @else {
        <p-button
          [label]="
            isLoading ? ('In progress' | translate) : ('Register' | translate)
          "
          [loading]="isLoading"
          (onClick)="submit()"
          [disabled]="form.invalid"
        ></p-button>
      }
    }
  </div>
</form>
