@import "primeicons/primeicons.css";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-style: normal;
  overflow: hidden;
  font-family: "Montserrat Variable", sans-serif;
}

.validation-error {
  color: var(--p-red-400);
  display: block;
}

// Drawers
.app-settings-panel-drawer {
  .app-settings-panel-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;

    &.theme-selection {
      i.pi {
        margin-right: 0.5em;
      }
    }

    &.language-selection {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 2em;

      .caption-with-icon {
        display: flex;
        justify-content: center;
        margin-bottom: 1em;

        i.pi {
          margin-right: 0.5em;
        }
      }
    }

    p-select {
      width: 100%;
    }
  }
}
