@import "primeicons/primeicons.css";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-style: normal;
  overflow: hidden;
  font-family: "Montserrat Variable", sans-serif;
}

.validation-error {
  color: var(--p-red-400);
  display: block;
}

// Drawers
.app-settings-panel-drawer {
  .app-settings-panel-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;

    p-iftalabel {
      width: 100%;
    }

    p-select {
      width: 100%;
    }
  }
}
