@import "primeicons/primeicons.css";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-style: normal;
  overflow: hidden;
  font-family: "Montserrat Variable", sans-serif;
}

.validation-error {
  color: var(--p-red-400);
  display: block;
}
