:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    width: 31.25em;
    background-color: var(--p-surface-900);
    padding: 2.188em;
    border-radius: 0.5em;

    input[pInputText] {
      width: 100%;
      margin-bottom: 3em;
    }

    p-password {
      ::ng-deep {
        .p-inputwrapper,
        input {
          width: 100%;
        }
      }
    }

    p-button {
      ::ng-deep {
        button {
          width: 100%;
        }
      }
      margin-top: 3em;
      margin-bottom: 3em;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .extras {
      small {
        display: flex;
        justify-content: space-between;

        a {
          text-decoration: none;
          color: var(--primary-400);
        }
      }
    }
  }
}
