<h2>GoVanGo</h2>

<form novalidate [formGroup]="form">
  <p-iftalabel>
    <input
      pInputText
      id="email_or_phone_number"
      autocomplete="off"
      formControlName="emailOrPhone"
    />
    <label for="email_or_phone_number">Email or phone number</label>
  </p-iftalabel>

  <p-iftalabel>
    <p-password
      inputId="password"
      [toggleMask]="true"
      [feedback]="false"
      styleClass="password-control"
      formControlName="password"
    />
    <label for="password">Password</label>
  </p-iftalabel>

  <p-button
    label="Login"
    [loading]="false"
    (onClick)="login()"
    [disabled]="form.invalid"
  ></p-button>

  <div class="extras">
    <small>
      <a routerLink="">Forgot password?</a>
      <a routerLink="/register">Register</a>
    </small>
  </div>

  <p-divider />

  <p-button icon="pi pi-google" label="Login with Google" variant="outlined" />
</form>
