<h1>GoVanGo</h1>

<form novalidate (ngSubmit)="changePassword()">
  <small
    >{{ "Time remaining to change you password" | translate }}
    {{ remainingTime$ | async }}</small
  >

  <p-iftalabel>
    <p-password
      inputId="password"
      promptLabel="{{ 'Enter a password' | translate }}"
      weakLabel="{{ 'Weak password' | translate }}"
      mediumLabel="{{ 'Medium password' | translate }}"
      strongLabel="{{ 'Strong password' | translate }}"
      [formControl]="passwordFormControl"
      [toggleMask]="true"
      [feedback]="true"
      [ngClass]="{
        'ng-dirty ng-invalid':
          passwordFormControl.invalid && !passwordFormControl.untouched,
      }"
    />
    <label for="password">{{ "Password" | translate }}</label>

    @if (passwordFormControl.invalid && !passwordFormControl.untouched) {
      @if (passwordFormControl.errors?.["required"]) {
        <small class="validation-error">{{
          "This field is required" | translate
        }}</small>
      }
      @if (passwordFormControl.errors?.["minlength"]) {
        <small class="validation-error">{{
          "Minimal length is 7 symbols" | translate
        }}</small>
      }
    }
  </p-iftalabel>

  <p-button
    type="submit"
    [label]="
      isBusy ? ('In progress' | translate) : ('Change password' | translate)
    "
    [loading]="isBusy"
    (onClick)="changePassword()"
    [disabled]="passwordFormControl.invalid || isBusy"
  ></p-button>

  <p-divider />

  <div class="extras">
    <small>
      <a routerLink="">{{ "Go to home page" | translate }}</a>
    </small>
  </div>
</form>
