:host {
  display: block;
  margin-top: 2em;

  @media screen and (max-width: 37.5em) {
    height: 90%;
    margin: 0.5em 0;
    overflow: hidden;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    @media screen and (max-width: 37.5em) {
      overflow: auto;
      margin-bottom: 1em;
      height: 85%;
    }

    p-select,
    input[pInputText] {
      width: 100%;
    }

    p-inputmask {
      ::ng-deep {
        .p-password,
        input {
          width: 100%;
        }
      }
    }

    .custom-form-controls {
      display: flex;
      gap: 2em;

      @media screen and (max-width: 37.5em) {
        flex-direction: column;
      }

      p-iftalabel {
        flex: 1;
      }

      p-inputnumber {
        width: 100%;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 37.5em) {
        display: none;
      }
    }
  }

  .buttons-mobile {
    display: none;

    @media screen and (max-width: 37.5em) {
      display: flex;
      justify-content: space-between;
    }
  }
}
