@if (!user?.isCarOwner) {
  <div class="warning-panel">
    <small>{{
      "You are not a carrier at the moment, but you can always change that. Click the button below to add your vehicle and start earning by being available for transportation in real time."
        | translate
    }}</small>

    <p-button
      icon="pi pi-plus"
      size="small"
      rounded
      (onClick)="isManageCarsSidebarVisible = true"
    />
  </div>
} @else {
  @if (cars$ | async; as cars) {
    <!--TODO add here gvg-car [car]=car later-->

    @for (car of cars$ | async; track car.id) {
      <p>
        {{ car.make }} {{ car.model }}
        <p-button
          icon="pi pi-plus"
          size="small"
          rounded
          (onClick)="updateCar(car)"
        />
      </p>
    }

    <p-button
      icon="pi pi-plus"
      size="small"
      rounded
      (onClick)="isManageCarsSidebarVisible = true"
    />
  }
}

@if (isManageCarsSidebarVisible) {
  <gvg-manage-cars-sidebar
    [user]="user"
    [visible]="isManageCarsSidebarVisible"
    (closed)="onManageCarsSidebarClosed($event)"
  >
  </gvg-manage-cars-sidebar>
}
