:host {
  display: flex;
  flex-direction: column;

  .warning-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    small {
      color: var(--p-yellow-600);
      text-align: center;
    }
  }

  p-button[icon="pi pi-plus"] {
    display: flex;
    align-self: center;
  }
}
