@if (!(currentUser$ | async)?.isCarOwner) {
  <div class="warning-panel">
    <small>{{
      "You are not a carrier at the moment, but you can always change that. Click the button below to add your vehicle and start earning by being available for transportation in real time."
        | translate
    }}</small>

    <p-button
      icon="pi pi-plus"
      size="small"
      rounded
      (onClick)="isManageCarsSidebarVisible = true"
    />
  </div>
} @else {
  @if (cars$ | async; as cars) {
    <p-accordion [value]="0">
      @for (
        car of cars$ | async;
        track car.id;
        let index = $index;
        let last = $last
      ) {
        <gvg-user-car
          [panelIndex]="cars.length - 1 - index"
          [car]="car"
          (updating)="isManageCarsSidebarVisible = true"
          [lastToScrollTo]="last"
        >
        </gvg-user-car>
      }
    </p-accordion>

    <p-button
      icon="pi pi-plus"
      size="small"
      rounded
      (onClick)="isManageCarsSidebarVisible = true"
    />
  }
}

@if (isManageCarsSidebarVisible) {
  <gvg-manage-cars-sidebar
    [user]="currentUser$ | async"
    [visible]="isManageCarsSidebarVisible"
    (closed)="onManageCarsSidebarClosed($event)"
  >
  </gvg-manage-cars-sidebar>
}
