<div class="left-side">
  <a routerLink="">
    <h4>GoVanGo</h4>
  </a>
</div>

<div class="right-side">
  <a class="user-section" routerLink="/profile">
    <span>Khabi Lame</span>
    <p-avatar
      shape="circle"
      image="https://scontent.flwo3-1.fna.fbcdn.net/v/t39.30808-6/480511661_955202340036218_2611899093260712739_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_ohc=YScY9kzAaYUQ7kNvgGPnfp-&_nc_oc=AdkvKSVY7nZkyWesLznOUidg_DdtQfj-jKmMx7Bth3wr0-3wh1u3jGEjGk2Te9X8CDk&_nc_zt=23&_nc_ht=scontent.flwo3-1.fna&_nc_gid=FtSgVLaQPTWn7fpEadLB7g&oh=00_AYGPYRoG2pZZ2TPIwqdZL1KWVzydQLDerOBbKEeeglUyQA&oe=67F213C1"
    />
  </a>

  <p-button size="small" icon="pi pi-sign-out" rounded (onClick)="logout()" />
</div>
