<p-drawer
  #drawerRef
  position="right"
  [(visible)]="isOpened"
  [closable]="false"
  [closeOnEscape]="true"
  (onHide)="closeOnBackdropClick()"
  styleClass="app-settings-panel-drawer"
>
  <ng-template #header>
    <h4>{{ 'App settings' | translate }}</h4>
    <p-button
      icon="pi pi-times"
      [text]="true"
      (onClick)="closePanel($event)"
    ></p-button>
  </ng-template>

  <div class="app-settings-panel-item">
    <span>{{ 'Dark theme' | translate }}</span>
    <p-toggleswitch (onChange)="toggleTheme()" [ngModel]="isDarkMode$ | async" />
  </div>

  <div class="app-settings-panel-item">
    <p-iftalabel>
      <p-select
        [filter]="true"
        [options]="languagesList"
        (onChange)="selectLanguage($event)"
        [formControl]="languageFormControl"
        filterBy="name"
        inputId="language"
        optionLabel="name"
        optionValue="value"
        appendTo="body"
        emptyMessage="{{ 'No results found' | translate }}"
        emptyFilterMessage="{{ 'No results found' | translate }}">
        <ng-template let-language pTemplate="item">{{ language.name | translate }}</ng-template>
      </p-select>
      <label for="language">{{ 'Language' | translate }}</label>
    </p-iftalabel>
  </div>
</p-drawer>
