<p-drawer
  #drawerRef
  position="right"
  [(visible)]="isOpened"
  [closable]="false"
  [closeOnEscape]="true"
  (onHide)="closeOnBackdropClick()"
  styleClass="app-settings-panel-drawer"
>
  <ng-template #header>
    <h4>{{ "App settings" | translate }}</h4>
    <p-button
      icon="pi pi-times"
      [text]="true"
      (onClick)="closePanel($event)"
    ></p-button>
  </ng-template>

  <div class="app-settings-panel-item theme-selection">
    <div>
      <i class="pi {{ (isDarkMode$ | async) ? 'pi-moon' : 'pi-sun' }}"></i>
      <span>{{ "Dark theme" | translate }}</span>
    </div>
    <p-toggleswitch
      (onChange)="toggleTheme()"
      [ngModel]="isDarkMode$ | async"
    />
  </div>

  <p-divider />

  <div class="app-settings-panel-item language-selection">
    <div class="caption-with-icon">
      <i class="pi pi-language"></i>
      <span>{{ "Language" | translate }}</span>
      <img
        src="{{ selectedDefaultLanguage?.iconPath }}"
        alt="{{ selectedDefaultLanguage?.name }}"
        [ngStyle]="{
          width: selectedDefaultLanguage?.iconDimensions?.width,
          'margin-left': '0.5em',
        }"
      />
    </div>

    <p-select
      [filter]="true"
      [options]="languagesList"
      (onChange)="selectLanguage($event)"
      [formControl]="languageFormControl"
      filterBy="name"
      inputId="language"
      optionLabel="name"
      optionValue="value"
      appendTo="body"
      emptyMessage="{{ 'No results found' | translate }}"
      emptyFilterMessage="{{ 'No results found' | translate }}"
    >
      <ng-template let-language pTemplate="item">
        <img
          src="{{ language.iconPath }}"
          alt="{{ language.name | translate }}"
          [ngStyle]="{
            width: language.iconDimensions.width,
            'margin-right': '0.5em',
          }"
        />
        {{ language.name | translate }}
      </ng-template>
    </p-select>
  </div>
</p-drawer>
