@use "./car-images-upload.mixin" as car-images-upload;

@mixin common-profile-sidebar {
  .common-profile-sidebar {
    &.p-drawer-right {
      width: 37.5em;

      @media screen and (max-width: 37.5em) {
        width: 100%;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1.5em;
      margin-bottom: 1.5em;

      p-select,
      input[pInputText] {
        width: 100%;
      }

      small.warning-panel {
        display: inline-flex;
        align-items: center;
        gap: 1em;
        color: var(--p-yellow-600);
        border: 1px solid var(--p-yellow-600);
        padding: 0.5em 1em;
        border-radius: 0.5em;
      }

      .custom-form-controls {
        display: flex;
        gap: 2em;

        @media screen and (max-width: 37.5em) {
          flex-direction: column;
        }

        p-iftalabel {
          flex: 1;
        }

        p-inputnumber {
          width: 100%;
        }
      }

      .button-group {
        display: flex;
        justify-content: space-between;
      }
    }

    @include car-images-upload.car-images-upload;
  }
}
