# Build output and temporary files
bin/
obj/
.vscode/
*.user
*.suo
*.cache
*.log
*.pdb
*.dbmdl
*.jfm

# IDE settings
.vs/
*.csproj.user

# Packages and dependencies
node_modules/
packages/
wwwroot/lib/
!wwwroot/lib/.gitkeep

# Configuration files
secrets.json

# Docker-related files (if applicable)
.dockerignore
**/Dockerfile
**/docker-compose*

# Log and uploaded files (keeping the directory structure)
logs/
!logs/.gitkeep
uploads/
!uploads/.gitkeep

/WebAPI/wwwroot
