<div class="structure">
  <div class="structure-content">
    <div class="profile-container">
      <div class="user-section">
        <p-button icon="pi pi-pencil" size="small" rounded />

        <div class="avatar-and-user-info">
          <div class="avatar-with-camera-icon">
            <p-avatar
              #avatar
              size="xlarge"
              shape="circle"
              [image]="
                (currentUser$ | async)?.avatar
                  ? (currentUser$ | async)?.avatar
                  : fallbackAvatar
              "
              (onImageError)="handleAvatarImageError()"
            >
            </p-avatar>

            <p-button icon="pi pi-camera" size="small" rounded />
          </div>

          <h2>
            {{ (currentUser$ | async)?.firstName }}
            {{ (currentUser$ | async)?.lastName }}
          </h2>
        </div>
      </div>
    </div>

    <p-tabs value="0">
      <p-tablist>
        <p-tab value="0">{{ "User information" | translate }}</p-tab>
        <p-tab value="1">{{ "User cars" | translate }}</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <!--TODO This should be moved into own component as user-info-tab-->
          <ul class="info-items">
            <li>
              <p>
                <span>
                  <i class="pi pi-phone"></i>
                  {{ "Phone number" | translate }}
                </span>
                <a href="tel:{{ (currentUser$ | async)?.phoneNumber }}">{{
                  (currentUser$ | async)?.phoneNumber
                }}</a>
              </p>
            </li>
            <li>
              <p>
                <span>
                  <i class="pi pi-envelope"></i>
                  {{ "Email" | translate }}
                </span>
                <a href="mailto:{{ (currentUser$ | async)?.email }}">{{
                  (currentUser$ | async)?.email
                }}</a>
              </p>
            </li>
            <li>
              <p>
                <span>
                  <i class="pi pi-map-marker"></i>
                  {{ "City" | translate }}
                </span>
                @if (currentUser$ | async; as user) {
                  <span>{{ user.city | translate }}</span>
                }
              </p>
            </li>
            <li>
              <p>
                <span>
                  <i class="pi pi-heart-fill"></i>
                  {{ "Likes" | translate }}
                </span>
                <span>{{ (currentUser$ | async)?.likes }}</span>
              </p>
            </li>

            <!--TODO This has to be added later-->
            <!--            <li>-->
            <!--              <p>-->
            <!--                <span>-->
            <!--                  <i class="pi pi-users"></i>-->
            <!--                  Reviews-->
            <!--                </span>-->
            <!--                <span>0</span>-->
            <!--              </p>-->
            <!--            </li>-->
          </ul>
        </p-tabpanel>
        <p-tabpanel value="1">
          <!--TODO This should be moved into own component as user-cars-tab-->
          <p class="m-0">Cars</p>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
