:host {
  .container {
    display: grid;
    grid-template-columns: 1fr 50em 1fr;

    @media screen and (max-width: 53.125em) {
      grid-template-columns: 1fr;
    }

    .profile-card {
      display: flex;
      justify-content: flex-end;
      background-color: var(--p-drawer-background);
      background-image: url("/assets/images/cover.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 55% 55%;
      padding: 1em;
      border-radius: 0.5em;
      height: 10em;
      grid-column: 2;

      @media screen and (max-width: 53.125em) {
        grid-column: auto;
      }

      @media screen and (max-width: 37.5em) {
        height: 6em;
        align-self: center;
      }
    }

    .profile-avatar-and-info {
      display: flex;
      grid-column: 2;

      @media screen and (max-width: 53.125em) {
        grid-column: auto;
      }

      @media screen and (max-width: 37.5em) {
        justify-content: center;
        flex-wrap: wrap;
      }

      .avatar-and-upload {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        margin-left: 1em;
        margin-top: -5em;

        p-avatar {
          width: 10em;
          height: 10em;
          border: 0.188em solid var(--p-button-secondary-background);
          font-size: initial;

          ::ng-deep {
            img {
              object-fit: cover;
              object-position: top center;
            }
          }
        }

        gvg-profile-avatar-upload {
          position: absolute;
          left: 0;
        }
      }

      h2 {
        margin: 0;
        display: flex;
        align-items: flex-end;
        width: 100%;
        flex-wrap: wrap;
        padding-top: 1em;
        text-align: center;

        @media screen and (max-width: 37.5em) {
          justify-content: center;
        }
      }
    }

    p-tabs {
      grid-column: 2;
      margin-top: 5em;

      @media screen and (max-width: 53.125em) {
        grid-column: auto;
      }

      ::ng-deep {
        .p-tablist-tab-list,
        .p-tabpanels {
          background: transparent;
        }

        p-tabpanels {
          padding: 1em 0;

          p-tabpanel {
            display: flex;
            flex-direction: column;
            gap: 1em;
          }
        }
      }
    }
  }
}
