<div class="structure">
  <div class="structure-content">
    <div class="profile-container">
      <div class="user-section">
        <p-button icon="pi pi-pencil" size="small" rounded />

        <div class="avatar-and-user-info">
          <div class="avatar-with-camera-icon">
            <p-avatar
              #avatar
              size="xlarge"
              shape="circle"
              [image]="
                (currentUser$ | async)?.avatar
                  ? (currentUser$ | async)?.avatar
                  : fallbackAvatar
              "
              (onImageError)="handleAvatarImageError()"
            >
            </p-avatar>

            <p-button icon="pi pi-camera" size="small" rounded />
          </div>

          <h2>
            {{ (currentUser$ | async)?.firstName }}
            {{ (currentUser$ | async)?.lastName }}
          </h2>
        </div>
      </div>
    </div>

    @if (currentUser$ | async; as user) {
      @if (user.isCarOwner) {
        <p-tabs value="0">
          <p-tablist>
            <p-tab value="0">{{ "User cars" | translate }}</p-tab>
            <p-tab value="1">{{ "User information" | translate }}</p-tab>
          </p-tablist>
          <p-tabpanels>
            <p-tabpanel value="0">
              <gvg-user-cars-tab [user]="currentUser$ | async"></gvg-user-cars-tab>
            </p-tabpanel>
            <p-tabpanel value="1">
              <gvg-user-info-tab [user]="currentUser$ | async"></gvg-user-info-tab>
            </p-tabpanel>
          </p-tabpanels>
        </p-tabs>
      } @else {
        <p-tabs value="0">
          <p-tablist>
            <p-tab value="0">{{ "User information" | translate }}</p-tab>
            <p-tab value="1">{{ "User cars" | translate }}</p-tab>
          </p-tablist>
          <p-tabpanels>
            <p-tabpanel value="0">
              <gvg-user-info-tab [user]="currentUser$ | async"></gvg-user-info-tab>
            </p-tabpanel>
            <p-tabpanel value="1">
              <gvg-user-cars-tab [user]="currentUser$ | async"></gvg-user-cars-tab>
            </p-tabpanel>
          </p-tabpanels>
        </p-tabs>
      }
    }
  </div>
</div>
